{% extends 'products/base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/orders.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="text-center mt-5">
                <h1>Заказ №{{ object.id }}</h1>
                <div class="orders mt-5">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Название</th>
                            <th scope="col">Кол-во</th>
                            <th scope="col">Цена</th>
                            <th scope="col">Сумма</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order_item in object.orderitem_set.all %}
                            <tr>
                                <th scope="row">
                                    {{ order_item.product.name }}
                                </th>
                                <td>{{ order_item.quantity }}</td>
                                <td>{{ order_item.product.price }} руб.</td>
                                <td>{{ order_item.sum }} руб.</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <p class="float-right h4 mt-3">Итого {{ order.total_sum }} руб.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

